<!DOCTYPE html>
<html>
<head>
    <title>Agrigenomics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div id="home-link">
          <a href="#home-section">AGRIGENOMICS</a>
        </div>
        <div id="info-link">
          <a href="#info-section">info</a>
        </div>
      </nav>
      
    <main>
        <section id="home-section">
            <div class="content">
                <h2>hi</h2>
                <p>Agrogenomics is the field of study that combines genomics and agriculture to enhance crop productivity, quality, and sustainability. It involves the use of genetic and genomic tools to analyze plant genomes, identify beneficial traits, and develop improved varieties.</p>
                <p>Oryza sativa, commonly known as rice, is one of the most important cereal crops in the world. It is a staple food for a significant portion of the global population. Through agrigenomics, researchers aim to understand the genetic makeup of Oryza sativa and uncover valuable insights to optimize its growth, yield, disease resistance, and nutritional properties.</p> 
            </div>
        </section>
        <section id="button-section">
            <a href="/predict" class="button">Lessgo</a> 
        </section>   
        <section id="info-section">
            <div class="content">
              <h3>Keshav Memorial Institute of Technology</h3>
              <p>           preranayekkele@gmail.com    </p>
              <p>                +91 1234567890          </p>
            </div>
          </section>          
    </main>
</body>
</html>
