<!DOCTYPE html>
<html>
<head>
    <title>Genomic Predictions of Oryza Sativa Plant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='okay.css') }}">
</head>
<body>
    <header>
        <div class="home-section">
            <a href="/">Home</a>
        </div>
        <h1>Genomic Predictions of Oryza Sativa Plant</h1>
    </header>
    <main>
        <section id="button-section">
            <div class="button-container">
                <a href="/phylotree" class="button button-large">Phylotree</a>
                <a href="/height-info" class="button button-large">Height Info</a>
                <a href="/yield-info" class="button button-large">Yield Info</a>
            </div>
            <div class="button-container">
                <a href="/predictions" class="button button-middle">Make Predictions!</a>
            </div>
            <div class="button-container">
                <a href="/GWAS-file" class="button button-small">GWAS File</a>
            </div>
        </section>
    </main>
</body>
</html>
